body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 270deg, rgba(14, 123, 212, 0.952), rgba(66, 167, 91, 0.877));
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {}

input {
    border: none;
    outline: none;
    display: inline;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    margin: 5px 10px;
    background-color: rgba(46, 46, 45, 0.87);
    border-radius: 15px;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    transition: 0.3s ease;
}

input:focus {
    display: inline;
    width: 280px;
    height: 30px;
    margin-left: 8px;
    background-color: rgba(32, 32, 31, 0.87);
    border-radius: 15px;
    padding: 5px 5px;
}

input:hover {
    display: inline;
    background-color: rgba(43, 42, 41, 0.87);
    cursor: pointer;
}

::placeholder {
    color: white;
    font-family: "Quicksand", sans-serif;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 110px 310px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: "Sansation", sans-serif;
    border-radius: 18px;
    background: linear-gradient(to bottom, #3d3c3c, #342342);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: all 0.5s ease;
    animation: incoming 1.5s ease-in-out;
}

.card-image {
    grid-area: image;
    /*background: url(../images/s-l300.jpg);*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(250, 14, 155);
    font-size: 18px;
    color: #fff;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
}

.card-text span {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(190, 27, 139);
}

.card-stats .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}

.card-stats .type {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 15px;
    font-weight: 800;
}

.card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
}

.card-stats .value sup {
    font-size: 12px;
}

.card:hover {
    /*transform: scale(1.2);*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.61);
}

@keyframes incoming {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}