<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="main.css" />
    <title>Weather-Card</title>
</head>

<body>
    <div class="app">
        <h2><b>Daily Weather</b></h2>
        <div class="search">
            <input type="text" v-model="query" @keypress="getWeather" placeholder="Enter city" /><span>to get weather</span>
        </div>
        <div class="card" v-if="typeof weather.main != 'undefined'">
            <div class="card-image">
                <img :src="`http://openweathermap.org/img/wn/` + weather.weather[0].icon + `@2x.png`" class="icon" />
            </div>
            <div class="card-text">
                <p class="date">{{ dateBuilder() }}</p>
                <h2>{{ weather.name }}, {{ weather.sys.country }}</h2>
                <span>{{ weather.main.temp }}°C</span> <br />
                <span>{{ weather.weather[0].main }}: {{ weather.weather[0].description
            }}</span
          ><br />
          <span></span>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="type">low:</div>
                    <div class="value">{{ weather.main.temp_min}}°C</div>
                </div>
                <div class="stats border">
                    <div class="type">high:</div>
                    <div class="value">{{weather.main.temp_max}}°C</div>
                </div>
                <div class="stats">
                    <div class="type">humidity</div>
                    <div class="value">{{ weather.main.humidity }}%</div>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js "></script>
    <script src="main.js "></script>
</body>

</html>